<a href="https://colab.research.google.com/github/Kiran-255666/Databricks_with_Pyspark/blob/main/Pyspark_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 51 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 69.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=ac84b225b042d5e5addb97da5c90cfd2b9f3947a894803b50e1d6756f9e5f5a2
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Pyspark').getOrCreate()

In [5]:
spark

In [7]:
df = spark.read.csv('practice1.csv')

In [8]:
df.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|age|
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
+---------+---+

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

In [10]:
df1 =spark.read.option('header','true').csv('practice1.csv')

In [11]:
df1.show(2)

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
+---------+---+
only showing top 2 rows

In [12]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [13]:
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

In [14]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In [15]:
df2 = spark.read.option('header','true').csv('practice1.csv',inferSchema= True)

In [18]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)

In [41]:
df3 = spark.read.csv('practice1.csv', header=True, inferSchema=True)

In [42]:
df3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)

In [43]:
df3.show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Adarsh| 50|
+---------+---+

In [44]:
df3.head(4)

[Row(Name='Krish', age=31),
 Row(Name='Sudhanshu', age=30),
 Row(Name='Sunny', age=29),
 Row(Name='Paul', age=24)]

In [45]:
df3.show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Adarsh| 50|
+---------+---+

In [46]:
df3.select(['Name']).show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Adarsh|
+---------+

In [47]:
df3.dtypes

[('Name', 'string'), ('age', 'int')]

In [48]:
df3['Name']

Column<'Name'>

In [49]:
df3.show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Adarsh| 50|
+---------+---+

In [50]:
df3.describe().show()

+-------+------+-----------------+
|summary|  Name|              age|
+-------+------+-----------------+
|  count|     5|                5|
|   mean|  null|             32.8|
| stddev|  null|9.984988733093292|
|    min|Adarsh|               24|
|    max| Sunny|               50|
+-------+------+-----------------+

In [51]:
# Adding columns in existing dataframe

In [61]:
df3.withColumn('Age after 5 years',df3['age']+5).show()

+---------+---+-----------------+
|     Name|age|Age after 5 years|
+---------+---+-----------------+
|    Krish| 31|               36|
|Sudhanshu| 30|               35|
|    Sunny| 29|               34|
|     Paul| 24|               29|
|   Adarsh| 50|               55|
+---------+---+-----------------+

In [62]:
df3.show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Adarsh| 50|
+---------+---+

In [54]:
#Drop the columns

In [55]:
df3 = df3.drop('Age after 5 years')

In [56]:
df3.show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Adarsh| 50|
+---------+---+

In [67]:
#Renaming the Columns

In [68]:
df3.show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Adarsh| 50|
+---------+---+

In [69]:
df3 = df3.withColumnRenamed('Name','New_Name').show()

+---------+---+
| New_Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Adarsh| 50|
+---------+---+

In [70]:
data =spark.read.csv('practice2.csv',header= True, inferSchema=True)

In [71]:
data.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 30000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [72]:
data.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [73]:
data.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 30000|
|  36|      null|  null|
+----+----------+------+

In [74]:
data.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 30000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [75]:
data.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [83]:
data.na.drop(how='any',thresh=3).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 30000|
+---------+---+----------+------+

In [85]:
data.na.drop(subset=['age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 30000|
|     null| 36|      null|  null|
+---------+---+----------+------+

In [86]:
#Filling the Missing Values

In [93]:
data.na.fill(100,['Experience','age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh|100|       100| 40000|
|     null| 34|        10| 30000|
|     null| 36|       100|  null|
+---------+---+----------+------+