In [0]:
url = "https://github.com/Kiran-255666/Pyspark_18-01-24/raw/main/titanic.csv"

local_path = "/dbfs/titanic.csv"

In [0]:
import requests
response = requests.get(url)
with open(local_path,"wb") as file:
    file.write(response.content)

In [0]:
%fs ls

path,name,size,modificationTime
dbfs:/FileStore/,FileStore/,0,1705640993000
dbfs:/Volume/,Volume/,0,0
dbfs:/Volumes/,Volumes/,0,0
dbfs:/databricks-datasets/,databricks-datasets/,0,0
dbfs:/databricks-results/,databricks-results/,0,0
dbfs:/output.txt/,output.txt/,0,1705598139000
dbfs:/titanic.csv,titanic.csv,57018,1705652738000
dbfs:/user/,user/,0,1705640727000
dbfs:/volume/,volume/,0,0
dbfs:/volumes/,volumes/,0,0

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName('Titanic-Tutorial').getOrCreate()

In [0]:
titanic_df = spark.read.csv(path="dbfs:/titanic.csv",header=True,inferSchema=True)

In [0]:
#convert dataframe to rdd
titanic_rdd = titanic_df.rdd

In [0]:
type(titanic_rdd)

pyspark.rdd.RDD

In [0]:
titanic_rdd.collect()

[Row(survived=0, pclass=3, sex='male', age=22.0, sibsp=1, parch=0, fare=7.25, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=1, sex='female', age=38.0, sibsp=1, parch=0, fare=71.2833, embarked='C', class='First', who='woman', adult_male=False, deck='C', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=26.0, sibsp=0, parch=0, fare=7.925, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=1, sex='female', age=35.0, sibsp=1, parch=0, fare=53.1, embarked='S', class='First', who='woman', adult_male=False, deck='C', embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=35.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=8.4583, embarked='Q', class='Third', who='man', adult_male=True, deck=None, embark_town='Queenstown', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=54.0, sibsp=0, parch=0, fare=51.8625, embarked='S', class='First', who='man', adult_male=True, deck='E', embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=2.0, sibsp=3, parch=1, fare=21.075, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=27.0, sibsp=0, parch=2, fare=11.1333, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=1, pclass=2, sex='female', age=14.0, sibsp=1, parch=0, fare=30.0708, embarked='C', class='Second', who='child', adult_male=False, deck=None, embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=4.0, sibsp=1, parch=1, fare=16.7, embarked='S', class='Third', who='child', adult_male=False, deck='G', embark_town='Southampton', alive='yes', alone=False),
 Row(survived=1, pclass=1, sex='female', age=58.0, sibsp=0, parch=0, fare=26.55, embarked='S', class='First', who='woman', adult_male=False, deck='C', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=20.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=39.0, sibsp=1, parch=5, fare=31.275, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='female', age=14.0, sibsp=0, parch=0, fare=7.8542, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='female', age=55.0, sibsp=0, parch=0, fare=16.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=2.0, sibsp=4, parch=1, fare=29.125, embarked='Q', class='Third', who='child', adult_male=False, deck=None, embark_town='Queenstown', alive='no', alone=False),
 Row(survived=1, pclass=2, sex='male', age=None, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='female', age=31.0, sibsp=1, parch=0, fare=18.0, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=None, sibsp=0, parch=0, fare=7.225, embarked='C', class='Third', who='woman', adult_male=False, deck=None, embark_town='Cherbourg', alive='yes', alone=True),
 Row(survived=0, pclass=2, sex='male', age=35.0, sibsp=0, parch=0, fare=26.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='male', age=34.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck='D', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=3, sex='female', age=15.0, sibsp=0, parch=0, fare=8.0292, embarked='Q', class='Third', who='child', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=1, pclass=1, sex='male', age=28.0, sibsp=0, parch=0, fare=35.5, embarked='S', class='First', who='man', adult_male=True, deck='A', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='female', age=8.0, sibsp=3, parch=1, fare=21.075, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=38.0, sibsp=1, parch=5, fare=31.3875, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=7.225, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=19.0, sibsp=3, parch=2, fare=263.0, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=None, sibsp=0, parch=0, fare=7.8792, embarked='Q', class='Third', who='woman', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=40.0, sibsp=0, parch=0, fare=27.7208, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='female', age=None, sibsp=1, parch=0, fare=146.5208, embarked='C', class='First', who='woman', adult_male=False, deck='B', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=None, sibsp=0, parch=0, fare=7.75, embarked='Q', class='Third', who='woman', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=0, pclass=2, sex='male', age=66.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=28.0, sibsp=1, parch=0, fare=82.1708, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=0, pclass=1, sex='male', age=42.0, sibsp=1, parch=0, fare=52.0, embarked='S', class='First', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=7.2292, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=21.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='female', age=18.0, sibsp=2, parch=0, fare=18.0, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=14.0, sibsp=1, parch=0, fare=11.2417, embarked='C', class='Third', who='child', adult_male=False, deck=None, embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='female', age=40.0, sibsp=1, parch=0, fare=9.475, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=2, sex='female', age=27.0, sibsp=1, parch=0, fare=21.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=7.8958, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='female', age=3.0, sibsp=1, parch=2, fare=41.5792, embarked='C', class='Second', who='child', adult_male=False, deck=None, embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=19.0, sibsp=0, parch=0, fare=7.8792, embarked='Q', class='Third', who='woman', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=1, parch=0, fare=15.5, embarked='Q', class='Third', who='man', adult_male=True, deck=None, embark_town='Queenstown', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=None, sibsp=0, parch=0, fare=7.75, embarked='Q', class='Third', who='woman', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=2, parch=0, fare=21.6792, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='female', age=18.0, sibsp=1, parch=0, fare=17.8, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=7.0, sibsp=4, parch=1, fare=39.6875, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=21.0, sibsp=0, parch=0, fare=7.8, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='female', age=49.0, sibsp=1, parch=0, fare=76.7292, embarked='C', class='First', who='woman', adult_male=False, deck='D', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=2, sex='female', age=29.0, sibsp=1, parch=0, fare=26.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=1, sex='male', age=65.0, sibsp=0, parch=1, fare=61.9792, embarked='C', class='First', who='man', adult_male=True, deck='B', embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=1, pclass=1, sex='male', age=None, sibsp=0, parch=0, fare=35.5, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=2, sex='female', age=21.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=28.5, sibsp=0, parch=0, fare=7.2292, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='female', age=5.0, sibsp=1, parch=2, fare=27.75, embarked='S', class='Second', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=11.0, sibsp=5, parch=2, fare=46.9, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=22.0, sibsp=0, parch=0, fare=7.2292, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='female', age=38.0, sibsp=0, parch=0, fare=80.0, embarked=None, class='First', who='woman', adult_male=False, deck='B', embark_town=None, alive='yes', alone=True),
 Row(survived=0, pclass=1, sex='male', age=45.0, sibsp=1, parch=0, fare=83.475, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=4.0, sibsp=3, parch=2, fare=27.9, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=1, sex='male', age=None, sibsp=0, parch=0, fare=27.7208, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=3, sex='male', age=None, sibsp=1, parch=1, fare=15.2458, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=2, sex='female', age=29.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='woman', adult_male=False, deck='F', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=19.0, sibsp=0, parch=0, fare=8.1583, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=3, sex='female', age=17.0, sibsp=4, parch=2, fare=7.925, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=2, parch=0, fare=8.6625, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=2, sex='male', age=32.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='female', age=16.0, sibsp=5, parch=2, fare=46.9, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=2, sex='male', age=21.0, sibsp=0, parch=0, fare=73.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=1, parch=0, fare=14.4542, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='male', age=32.0, sibsp=0, parch=0, fare=56.4958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=25.0, sibsp=0, parch=0, fare=7.65, embarked='S', class='Third', who='man', adult_male=True, deck='F', embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='male', age=0.83, sibsp=0, parch=2, fare=29.0, embarked='S', class='Second', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=30.0, sibsp=0, parch=0, fare=12.475, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=22.0, sibsp=0, parch=0, fare=9.0, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=3, sex='male', age=29.0, sibsp=0, parch=0, fare=9.5, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=3, sex='female', age=None, sibsp=0, parch=0, fare=7.7875, embarked='Q', class='Third', who='woman', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=0, pclass=1, sex='male', age=28.0, sibsp=0, parch=0, fare=47.1, embarked='S', class='First', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='female', age=17.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=3, sex='female', age=33.0, sibsp=3, parch=0, fare=15.85, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=16.0, sibsp=1, parch=3, fare=34.375, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='female', age=23.0, sibsp=3, parch=2, fare=263.0, embarked='S', class='First', who='woman', adult_male=False, deck='C', embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=24.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=29.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=20.0, sibsp=0, parch=0, fare=7.8542, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=46.0, sibsp=1, parch=0, fare=61.175, embarked='S', class='First', who='man', adult_male=True, deck='E', embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=1, parch=2, fare=20.575, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=59.0, sibsp=0, parch=0, fare=7.25, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=71.0, sibsp=0, parch=0, fare=34.6542, embarked='C', class='First', who='man', adult_male=True, deck='A', embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='male', age=23.0, sibsp=0, parch=1, fare=63.3583, embarked='C', class='First', who='man', adult_male=True, deck='D', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=2, sex='female', age=34.0, sibsp=0, parch=1, fare=23.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),

In [0]:
#filter
filter_rdd = titanic_rdd.filter(lambda row : row[ "age"]is not None and row["age"]>25.0 )

In [0]:
filter_rdd.collect()

[Row(survived=1, pclass=1, sex='female', age=38.0, sibsp=1, parch=0, fare=71.2833, embarked='C', class='First', who='woman', adult_male=False, deck='C', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=26.0, sibsp=0, parch=0, fare=7.925, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=1, sex='female', age=35.0, sibsp=1, parch=0, fare=53.1, embarked='S', class='First', who='woman', adult_male=False, deck='C', embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=35.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=54.0, sibsp=0, parch=0, fare=51.8625, embarked='S', class='First', who='man', adult_male=True, deck='E', embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=3, sex='female', age=27.0, sibsp=0, parch=2, fare=11.1333, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=1, pclass=1, sex='female', age=58.0, sibsp=0, parch=0, fare=26.55, embarked='S', class='First', who='woman', adult_male=False, deck='C', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=39.0, sibsp=1, parch=5, fare=31.275, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=2, sex='female', age=55.0, sibsp=0, parch=0, fare=16.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='female', age=31.0, sibsp=1, parch=0, fare=18.0, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=2, sex='male', age=35.0, sibsp=0, parch=0, fare=26.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='male', age=34.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck='D', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=1, sex='male', age=28.0, sibsp=0, parch=0, fare=35.5, embarked='S', class='First', who='man', adult_male=True, deck='A', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=3, sex='female', age=38.0, sibsp=1, parch=5, fare=31.3875, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=1, sex='male', age=40.0, sibsp=0, parch=0, fare=27.7208, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=0, pclass=2, sex='male', age=66.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=28.0, sibsp=1, parch=0, fare=82.1708, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=0, pclass=1, sex='male', age=42.0, sibsp=1, parch=0, fare=52.0, embarked='S', class='First', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='female', age=40.0, sibsp=1, parch=0, fare=9.475, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=2, sex='female', age=27.0, sibsp=1, parch=0, fare=21.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=1, sex='female', age=49.0, sibsp=1, parch=0, fare=76.7292, embarked='C', class='First', who='woman', adult_male=False, deck='D', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=2, sex='female', age=29.0, sibsp=1, parch=0, fare=26.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=1, sex='male', age=65.0, sibsp=0, parch=1, fare=61.9792, embarked='C', class='First', who='man', adult_male=True, deck='B', embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=28.5, sibsp=0, parch=0, fare=7.2292, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='female', age=38.0, sibsp=0, parch=0, fare=80.0, embarked=None, class='First', who='woman', adult_male=False, deck='B', embark_town=None, alive='yes', alone=True),
 Row(survived=0, pclass=1, sex='male', age=45.0, sibsp=1, parch=0, fare=83.475, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=2, sex='female', age=29.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='woman', adult_male=False, deck='F', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=2, parch=0, fare=8.6625, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=2, sex='male', age=32.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=1, parch=0, fare=14.4542, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='male', age=32.0, sibsp=0, parch=0, fare=56.4958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=3, sex='female', age=30.0, sibsp=0, parch=0, fare=12.475, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=3, sex='male', age=29.0, sibsp=0, parch=0, fare=9.5, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=1, sex='male', age=28.0, sibsp=0, parch=0, fare=47.1, embarked='S', class='First', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=3, sex='female', age=33.0, sibsp=3, parch=0, fare=15.85, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=29.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=46.0, sibsp=1, parch=0, fare=61.175, embarked='S', class='First', who='man', adult_male=True, deck='E', embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=1, parch=2, fare=20.575, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=59.0, sibsp=0, parch=0, fare=7.25, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=71.0, sibsp=0, parch=0, fare=34.6542, embarked='C', class='First', who='man', adult_male=True, deck='A', embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='female', age=34.0, sibsp=0, parch=1, fare=23.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=2, sex='male', age=34.0, sibsp=1, parch=0, fare=26.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='female', age=28.0, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=33.0, sibsp=0, parch=0, fare=8.6542, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=37.0, sibsp=2, parch=0, fare=7.925, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=28.0, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=38.0, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=47.0, sibsp=0, parch=0, fare=52.0, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=70.5, sibsp=0, parch=0, fare=7.75, embarked='Q', class='Third', who='man', adult_male=True, deck=None, embark_town='Queenstown', alive='no', alone=True),
 Row(survived=0, pclass=2, sex='male', age=29.0, sibsp=1, parch=0, fare=21.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=2, sex='male', age=32.5, sibsp=1, parch=0, fare=30.0708, embarked='C', class='Second', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=1, pclass=2, sex='female', age=32.5, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='woman', adult_male=False, deck='E', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=1, sex='male', age=54.0, sibsp=0, parch=1, fare=77.2875, embarked='S', class='First', who='man', adult_male=True, deck='D', embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=45.0, sibsp=0, parch=0, fare=6.975, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=33.0, sibsp=0, parch=0, fare=7.8958, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='female', age=47.0, sibsp=1, parch=0, fare=14.5, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=2, sex='female', age=29.0, sibsp=1, parch=0, fare=26.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=1, sex='male', age=37.0, sibsp=1, parch=0, fare=53.1, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='male', age=27.0, sibsp=0, parch=0, fare=7.7958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=2, sex='male', age=36.5, sibsp=0, parch=2, fare=26.0, embarked='S', class='Second', who='man', adult_male=True, deck='F', embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=2, sex='male', age=42.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=2, sex='male', age=51.0, sibsp=0, parch=0, fare=12.525, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=55.5, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=40.5, sibsp=0, parch=2, fare=14.5, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=1, sex='male', age=51.0, sibsp=0, parch=1, fare=61.3792, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=30.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=44.0, sibsp=0, parch=1, fare=16.1, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=2, sex='female', age=40.0, sibsp=0, parch=0, fare=15.75, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=0, parch=0, fare=7.775, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='female', age=45.0, sibsp=1, parch=4, fare=27.9, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=28.0, sibsp=0, parch=0, fare=56.4958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=61.0, sibsp=0, parch=0, fare=33.5, embarked='S', class='First', who='man', adult_male=True, deck='B', embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=56.0, sibsp=0, parch=0, fare=30.6958, embarked='C', class='First', who='man', adult_male=True, deck='A', embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='female', age=50.0, sibsp=0, parch=0, fare=28.7125, embarked='C', class='First', who='woman', adult_male=False, deck='C', embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=0, pclass=2, sex='male', age=30.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=36.0, sibsp=0, parch=0, fare=0.0, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='male', age=45.0, sibsp=0, parch=0, fare=26.55, embarked='S', class='First', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=40.0, sibsp=1, parch=1, fare=15.5, embarked='Q', class='Third', who='man', adult_male=True, deck=None, embark_town='Queenstown', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=36.0, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='female', age=32.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=1, sex='female', age=44.0, sibsp=0, parch=0, fare=27.7208, embarked='C', class='First', who='woman', adult_male=False, deck='B', embark_town='Cherbourg', alive='yes', alone=True),
 Row(survived=1, pclass=1, sex='female', age=58.0, sibsp=0, parch=0, fare=146.5208, embarked='C', class='First', who='woman', adult_male=False, deck='B', embark_town='Cherbourg', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=42.0, sibsp=0, parch=1, fare=8.4042, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=28.0, sibsp=0, parch=0, fare=9.5, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=34.0, sibsp=0, parch=0, fare=6.4958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=45.5, sibsp=0, parch=0, fare=7.225, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=32.0, sibsp=1, parch=0, fare=15.85, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='male', age=26.0, sibsp=0, parch=0, fare=18.7875, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='yes', alone=True),
 Row(survived=1, pclass=1, sex='male', age=40.0, sibsp=0, parch=0, fare=31.0, embarked='C', class='First', who='man', adult_male=True, deck='A', embark_town='Cherbourg', alive='yes', alone=True),
 Row(survived=1, pclass=2, sex='female', age=35.0, sibsp=0, parch=0, fare=21.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=2, sex='male', age=30.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='female', age=31.0, sibsp=1, parch=0, fare=113.275, embarked='C', class='First', who='woman', adult_male=False, deck='D', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=27.0, sibsp=0, parch=0, fare=7.925, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=2, sex='male', age=42.0, sibsp=1, parch=0, fare=27.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=1, sex='female', age=32.0, sibsp=0, parch=0, fare=76.2917, embarked='C', class='First', who='woman', adult_male=False, deck='D', embark_town='Cherbourg', alive='yes', alone=True),
 Row(survived=0, pclass=2, sex='male', age=30.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=2, sex='male', age=27.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=51.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='male', age=38.0, sibsp=1, parch=0, fare=90.0, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='yes', alone=False),

In [0]:
#Map 
mapped_rdd = titanic_rdd.map(lambda row : (row['who'],row['age']))

In [0]:
mapped_rdd.collect()

[('man', 22.0),
 ('woman', 38.0),
 ('woman', 26.0),
 ('woman', 35.0),
 ('man', 35.0),
 ('man', None),
 ('man', 54.0),
 ('child', 2.0),
 ('woman', 27.0),
 ('child', 14.0),
 ('child', 4.0),
 ('woman', 58.0),
 ('man', 20.0),
 ('man', 39.0),
 ('child', 14.0),
 ('woman', 55.0),
 ('child', 2.0),
 ('man', None),
 ('woman', 31.0),
 ('woman', None),
 ('man', 35.0),
 ('man', 34.0),
 ('child', 15.0),
 ('man', 28.0),
 ('child', 8.0),
 ('woman', 38.0),
 ('man', None),
 ('man', 19.0),
 ('woman', None),
 ('man', None),
 ('man', 40.0),
 ('woman', None),
 ('woman', None),
 ('man', 66.0),
 ('man', 28.0),
 ('man', 42.0),
 ('man', None),
 ('man', 21.0),
 ('woman', 18.0),
 ('child', 14.0),
 ('woman', 40.0),
 ('woman', 27.0),
 ('man', None),
 ('child', 3.0),
 ('woman', 19.0),
 ('man', None),
 ('man', None),
 ('woman', None),
 ('man', None),
 ('woman', 18.0),
 ('child', 7.0),
 ('man', 21.0),
 ('woman', 49.0),
 ('woman', 29.0),
 ('man', 65.0),
 ('man', None),
 ('woman', 21.0),
 ('man', 28.5),
 ('child', 5.0),
 ('child', 11.0),
 ('man', 22.0),
 ('woman', 38.0),
 ('man', 45.0),
 ('child', 4.0),
 ('man', None),
 ('man', None),
 ('woman', 29.0),
 ('man', 19.0),
 ('woman', 17.0),
 ('man', 26.0),
 ('man', 32.0),
 ('woman', 16.0),
 ('man', 21.0),
 ('man', 26.0),
 ('man', 32.0),
 ('man', 25.0),
 ('man', None),
 ('man', None),
 ('child', 0.83),
 ('woman', 30.0),
 ('man', 22.0),
 ('man', 29.0),
 ('woman', None),
 ('man', 28.0),
 ('woman', 17.0),
 ('woman', 33.0),
 ('man', 16.0),
 ('man', None),
 ('woman', 23.0),
 ('man', 24.0),
 ('man', 29.0),
 ('man', 20.0),
 ('man', 46.0),
 ('man', 26.0),
 ('man', 59.0),
 ('man', None),
 ('man', 71.0),
 ('man', 23.0),
 ('woman', 34.0),
 ('man', 34.0),
 ('woman', 28.0),
 ('man', None),
 ('man', 21.0),
 ('man', 33.0),
 ('man', 37.0),
 ('man', 28.0),
 ('woman', 21.0),
 ('man', None),
 ('man', 38.0),
 ('woman', None),
 ('man', 47.0),
 ('child', 14.5),
 ('man', 22.0),
 ('woman', 20.0),
 ('woman', 17.0),
 ('man', 21.0),
 ('man', 70.5),
 ('man', 29.0),
 ('man', 24.0),
 ('child', 2.0),
 ('man', 21.0),
 ('man', None),
 ('man', 32.5),
 ('woman', 32.5),
 ('man', 54.0),
 ('child', 12.0),
 ('man', None),
 ('man', 24.0),
 ('woman', None),
 ('man', 45.0),
 ('man', 33.0),
 ('man', 20.0),
 ('woman', 47.0),
 ('woman', 29.0),
 ('man', 25.0),
 ('man', 23.0),
 ('woman', 19.0),
 ('man', 37.0),
 ('man', 16.0),
 ('man', 24.0),
 ('woman', None),
 ('woman', 22.0),
 ('woman', 24.0),
 ('man', 19.0),
 ('man', 18.0),
 ('man', 19.0),
 ('man', 27.0),
 ('child', 9.0),
 ('man', 36.5),
 ('man', 42.0),
 ('man', 51.0),
 ('woman', 22.0),
 ('man', 55.5),
 ('man', 40.5),
 ('man', None),
 ('man', 51.0),
 ('woman', 16.0),
 ('man', 30.0),
 ('man', None),
 ('man', None),
 ('man', 44.0),
 ('woman', 40.0),
 ('man', 26.0),
 ('man', 17.0),
 ('child', 1.0),
 ('child', 9.0),
 ('woman', None),
 ('woman', 45.0),
 ('man', None),
 ('man', 28.0),
 ('man', 61.0),
 ('child', 4.0),
 ('child', 1.0),
 ('man', 21.0),
 ('man', 56.0),
 ('man', 18.0),
 ('man', None),
 ('woman', 50.0),
 ('man', 30.0),
 ('man', 36.0),
 ('woman', None),
 ('man', None),
 ('child', 9.0),
 ('child', 1.0),
 ('child', 4.0),
 ('man', None),
 ('woman', None),
 ('man', 45.0),
 ('man', 40.0),
 ('man', 36.0),
 ('woman', 32.0),
 ('man', 19.0),
 ('woman', 19.0),
 ('child', 3.0),
 ('woman', 44.0),
 ('woman', 58.0),
 ('man', None),
 ('man', 42.0),
 ('woman', None),
 ('woman', 24.0),
 ('man', 28.0),
 ('man', None),
 ('man', 34.0),
 ('man', 45.5),
 ('man', 18.0),
 ('child', 2.0),
 ('man', 32.0),
 ('man', 26.0),
 ('woman', 16.0),
 ('man', 40.0),
 ('man', 24.0),
 ('woman', 35.0),
 ('man', 22.0),
 ('man', 30.0),
 ('man', None),
 ('woman', 31.0),
 ('woman', 27.0),
 ('man', 42.0),
 ('woman', 32.0),
 ('man', 30.0),
 ('man', 16.0),
 ('man', 27.0),
 ('man', 51.0),
 ('man', None),
 ('man', 38.0),
 ('man', 22.0),
 ('man', 19.0),
 ('man', 20.5),
 ('man', 18.0),
 ('woman', None),
 ('woman', 35.0),
 ('man', 29.0),
 ('man', 59.0),
 ('child', 5.0),
 ('man', 24.0),
 ('woman', None),
 ('man', 44.0),
 ('child', 8.0),
 ('man', 19.0),
 ('man', 33.0),
 ('woman', None),
 ('woman', None),
 ('man', 29.0),
 ('man', 22.0),
 ('man', 30.0),
 ('man', 44.0),
 ('woman', 25.0),
 ('woman', 24.0),
 ('man', 37.0),
 ('man', 54.0),
 ('man', None),
 ('woman', 29.0),
 ('man', 62.0),
 ('man', 30.0),
 ('woman', 41.0),
 ('woman', 29.0),
 ('woman', None),
 ('woman', 30.0),
 ('woman', 35.0),
 ('woman', 50.0),
 ('man', None),
 ('child', 3.0),
 ('man', 52.0),
 ('man', 40.0),
 ('woman', None),
 ('man', 36.0),
 ('man', 16.0),
 ('man', 25.0),
 ('woman', 58.0),
 ('woman', 35.0),
 ('man', None),
 ('man', 25.0),
 ('woman', 41.0),
 ('man', 37.0),
 ('woman', None),
 ('woman', 63.0),
 ('woman', 45.0),
 ('man', None),
 ('child', 7.0),
 ('woman', 35.0),
 ('man', 65.0),
 ('man', 28.0),
 ('man', 16.0),
 ('man', 19.0),
 ('man', None),
 ('man', 33.0),
 ('man', 30.0),
 ('man', 22.0),
 ('man', 42.0),
 ('woman', 22.0),
 ('woman', 26.0),
 ('woman', 19.0),
 ('man', 36.0),
 ('woman', 24.0),
 ('man', 24.0),
 ('man', None),
 ('man', 23.5),
 ('child', 2.0),
 ('man', None),
 ('woman', 50.0),
 ('woman', None),
 ('man', None),
 ('man', 19.0),
 ('woman', None),
 ('man', None),
 ('child', 0.92),
 ('woman', None),
 ('woman', 17.0),
 ('man', 30.0),
 ('woman', 30.0),
 ('woman', 24.0),
 ('woman', 18.0),
 ('woman', 26.0),
 ('man', 28.0),
 ('man', 43.0),
 ('woman', 26.0),
 ('woman', 24.0),
 ('man', 54.0),
 ('woman', 31.0),
 ('woman', 40.0),
 ('man', 22.0),
 ('man', 27.0),
 ('woman', 30.0),
 ('woman', 22.0),
 ('man', None),
 ('woman', 36.0),
 ('man', 61.0),
 ('woman', 36.0),
 ('woman', 31.0),
 ('woman', 16.0),
 ('woman', None),
 ('man', 45.5),
 ('man', 38.0),
 ('man', 16.0),
 ('woman', None),
 ('man', None),
 ('man', 29.0),
 ('woman', 41.0),
 ('man', 45.0),
 ('man', 45.0),
 ('child', 2.0),
 ('woman', 24.0),
 ('man', 28.0),
 ('man', 25.0),
 ('man', 36.0),
 ('woman', 24.0),
 ('woman', 40.0),
 ('woman', None),
 ('child', 3.0),
 ('man', 42.0),
 ('man', 23.0),
 ('man', None),
 ('child', 15.0),
 ('man', 25.0),
 ('man', None),
 ('man', 28.0),
 ('woman', 22.0),
 ('woman', 38.0),
 ('woman', None),
 ('woman', None),
 ('man', 40.0),
 ('man', 29.0),
 ('woman', 45.0),
 ('man', 35.0),
 ('man', None),
 ('man', 30.0),
 ('woman', 60.0),
 ('woman', None),
 ('woman', None),
 ('woman', 24.0),
 ('man', 25.0),
 ('man', 18.0),
 ('man', 19.0),
 ('man', 22.0),
 ('child', 3.0),
 ('woman', None),
 ('woman', 22.0),
 ('man', 27.0),
 ('man', 20.0),
 ('man', 19.0),
 ('woman', 42.0),
 ('child', 1.0),
 ('man', 32.0),
 ('woman', 35.0),
 ('man', None),
 ('man', 18.0),
 ('child', 1.0),
 ('woman', 36.0),
 ('man', None),
 ('woman', 17.0),
 ('man', 36.0),
 ('man', 21.0),
 ('man', 28.0),
 ('woman', 23.0),
 ('woman', 24.0),
 ('man', 22.0),
 ('woman', 31.0),
 ('man', 46.0),
 ('man', 23.0),
 ('woman', 28.0),
 ('man', 39.0),
 ('man', 26.0),
 ('woman', 21.0),
 ('man', 28.0),
 ('woman', 20.0),
 ('man', 34.0),
 ('man', 51.0),
 ('child', 3.0),
 ('man', 21.0),
 ('woman', None),
 ('man', None),
 ('man', None),
 ('woman', 33.0),
 ('man', None),
 ('man', 44.0),
 ('woman', None),
 ('woman', 34.0),
 ('woman', 18.0),
 ('man', 30.0),
 ('child', 10.0),
 ('man', None),
 ('man', 21.0),
 ('man', 29.0),
 ('woman', 28.0),
 ('man', 18.0),
 ('man', None),
 ('woman', 28.0),
 ('woman', 19.0),
 ('man', None),
 ('man', 32.0),
 ('man', 28.0),
 ('woman', None),
 ('woman', 42.0),
 ('man', 17.0),
 ('man', 50.0),
 ('child', 14.0),
 ('woman', 21.0),
 ('woman', 24.0),
 ('man', 64.0),
 ('man', 31.0),
 ('woman', 45.0),
 ('man', 20.0),
 ('man', 25.0),
 ('woman', 28.0),
 ('man', None),
 ('child', 4.0),
 ('child', 13.0),
 ('man', 34.0),
 ('child', 5.0),
 ('man', 52.0),
 ('man', 36.0),
 ('man', None),
 ('man', 30.0),
 ('man', 49.0),
 ('man', None),
 ('man', 29.0),
 ('man', 65.0),
 ('woman', None),
 ('woman', 50.0),
 ('man', None),
 ('man', 48.0),
 ('man', 34.0),
 ('man', 47.0),
 ('man', 48.0),
 ('man', None),
 ('man', 38.0),
 ('man', None),
 ('man', 56.0),
 ('man', None),
 ('child', 0.75),
 ('man', None),
 ('man', 38.0),
 ('woman', 33.0),
 ('woman', 23.0),
 ('woman', 22.0),
 ('man', None),
 ('man', 34.0),
 ('man', 29.0),
 ('man', 22.0),
 ('child', 2.0),
 ('child', 9.0),
 ('man', None),
 ('man', 50.0),
 ('woman', 63.0),
 ('man', 25.0),
 ('woman', None),
 ('woman', 35.0),
 ('man', 58.0),
 ('man', 30.0),
 ('child', 9.0),
 ('man', None),
 ('man', 21.0),
 ('man', 55.0),
 ('man', 71.0),
 ('man', 21.0),
 ('man', None),
 ('woman', 54.0),
 ('man', None),
 ('woman', 25.0),
 ('man', 24.0),
 ('man', 17.0),
 ('woman', 21.0),
 ('woman', None),
 ('woman', 37.0),
 ('woman', 16.0),
 ('man', 18.0),
 ('woman', 33.0),
 ('man', None),
 ('man', 28.0),
 ('man', 26.0),
 ('man', 29.0),
 ('man', None),
 ('man', 36.0),
 ('woman', 54.0),
 ('man', 24.0),
 ('man', 47.0),
 ('woman', 34.0),
 ('man', None),
 ('woman', 36.0),
 ('man', 32.0),
 ('woman', 30.0),
 ('man', 22.0),
 ('man', None),
 ('woman', 44.0),
 ('man', None),
 ('man', 40.5),
 ('woman', 50.0),
 ('man', None),
 ('man', 39.0),
 ('man', 23.0),
 ('child', 2.0),
 ('man', None),
 ('man', 17.0),
 ('woman', None),
 ('woman', 30.0),
 ('child', 7.0),
 ('man', 45.0),
 ('woman', 30.0),
 ('man', None),
 ('woman', 22.0),
 ('woman', 36.0),
 ('child', 9.0),
 ('child', 11.0),
 ('man', 32.0),
 ('man', 50.0),
 ('man', 64.0),
 ('woman', 19.0),
 ('man', None),
 ('man', 33.0),
 ('child', 8.0),
 ('man', 17.0),
 ('man', 27.0),
 ('man', None),
 ('man', 22.0),
 ('woman', 22.0),
 ('man', 62.0),
 ('woman', 48.0),
 ('man', None),
 ('woman', 39.0),
 ('woman', 36.0),
 ('man', None),
 ('man', 40.0),
 ('man', 28.0),
 ('man', None),
 ('woman', None),
 ('man', 24.0),
 ('man', 19.0),
 ('woman', 29.0),
 ('man', None),
 ('man', 32.0),
 ('man', 62.0),
 ('woman', 53.0),
 ('man', 36.0),
 ('woman', None),
 ('man', 16.0),
 ('man', 19.0),
 ('woman', 34.0),
 ('woman', 39.0),
 ('woman', None),
 ('man', 32.0),
 ('woman', 25.0),
 ('woman', 39.0),
 ('man', 54.0),
 ('man', 36.0),
 ('man', None),
 ('woman', 18.0),
 ('man', 47.0),
 ('man', 60.0),
 ('man', 22.0),
 ('man', None),
 ('man', 35.0),
 ('woman', 52.0),
 ('man', 47.0),
 ('woman', None),
 ('man', 37.0),
 ('man', 36.0),
 ('woman', None),
 ('man', 49.0),
 ('man', None),
 ('man', 49.0),
 ('woman', 24.0),
 ('man', None),
 ('man', None),
 ('man', 44.0),
 ('man', 35.0),
 ('man', 36.0),
 ('man', 30.0),
 ('man', 27.0),
 ('woman', 22.0),
 ('woman', 40.0),
 ('woman', 39.0),
 ('man', None),
 ('woman', None),
 ('man', None),
 ('man', 35.0),
 ('woman', 24.0),
 ('man', 34.0),
 ('woman', 26.0),
 ('child', 4.0),
 ('man', 26.0),
 ('man', 27.0),
 ('man', 42.0),
 ('man', 20.0),
 ('man', 21.0),
 ('man', 21.0),
 ('man', 61.0),
 ('man', 57.0),
 ('woman', 21.0),
 ('man', 26.0),
 ('man', None),
 ('man', 80.0),
 ('man', 51.0),
 ('man', 32.0),
 ('man', None),
 ('child', 9.0),
 ('woman', 28.0),
 ('man', 32.0),
 ('man', 31.0),
 ('woman', 41.0),
 ('man', None),
 ('man', 20.0),
 ('woman', 24.0),
 ('child', 2.0),
 ('man', None),
 ('child', 0.75),
 ('man', 48.0),
 ('man', 19.0),
 ('man', 56.0),
 ('man', None),
 ('woman', 23.0),
 ('man', None),
 ('woman', 18.0),
 ('man', 21.0),
 ('woman', None),
 ('woman', 18.0),
 ('man', 24.0),
 ('man', None),
 ('woman', 32.0),
 ('man', 23.0),
 ('man', 58.0),
 ('man', 50.0),
 ('man', 40.0),
 ('man', 47.0),
 ('man', 36.0),
 ('man', 20.0),
 ('man', 32.0),
 ('man', 25.0),
 ('man', None),
 ('man', 43.0),
 ('woman', None),
 ('woman', 40.0),
 ('man', 31.0),
 ('man', 70.0),
 ('man', 31.0),
 ('man', None),
 ('man', 18.0),
 ('man', 24.5),
 ('woman', 18.0),
 ('woman', 43.0),
 ('man', 36.0),
 ('woman', None),
 ('man', 27.0),
 ('man', 20.0),
 ('child', 14.0),
 ('man', 60.0),
 ('man', 25.0),
 ('child', 14.0),
 ('man', 19.0),
 ('man', 18.0),
 ('child', 15.0),
 ('man', 31.0),
 ('child', 4.0),
 ('man', None),
 ('man', 25.0),
 ('man', 60.0),
 ('man', 52.0),
 ('man', 44.0),
 ('woman', None),
 ('man', 49.0),
 ('man', 42.0),
 ('woman', 18.0),
 ('man', 35.0),
 ('woman', 18.0),
 ('man', 25.0),
 ('man', 26.0),
 ('man', 39.0),
 ('woman', 45.0),
 ('man', 42.0),
 ('woman', 22.0),
 ('man', None),
 ('woman', 24.0),
 ('man', None),
 ('man', 48.0),
 ('man', 29.0),
 ('man', 52.0),
 ('man', 19.0),
 ('woman', 38.0),
 ('woman', 27.0),
 ('man', None),
 ('man', 33.0),
 ('child', 6.0),
 ('man', 17.0),
 ('man', 34.0),
 ('man', 50.0),
 ('man', 27.0),
 ('man', 20.0),
 ('woman', 30.0),
 ('woman', None),
 ('man', 25.0),
 ('woman', 25.0),
 ('woman', 29.0),
 ('child', 11.0),
 ('man', None),
 ('man', 23.0),
 ('man', 23.0),
 ('man', 28.5),
 ('woman', 48.0),
 ('man', 35.0),
 ('man', None),
 ('man', None),
 ('man', None),
 ('man', 36.0),
 ('woman', 21.0),
 ('man', 24.0),
 ('man', 31.0),
 ('man', 70.0),
 ('man', 16.0),
 ('woman', 30.0),
 ('man', 19.0),
 ('man', 31.0),
 ('child', 4.0),
 ('child', 6.0),
 ('man', 33.0),
 ('man', 23.0),
 ('woman', 48.0),
 ('child', 0.67),
 ('man', 28.0),
 ('man', 18.0),
 ('man', 34.0),
 ('woman', 33.0),
 ('man', None),
 ('man', 41.0),
 ('man', 20.0),
 ('woman', 36.0),
 ('man', 16.0),
 ('woman', 51.0),
 ('man', None),
 ('woman', 30.5),
 ('man', None),
 ('man', 32.0),
 ('man', 24.0),
 ('man', 48.0),
 ('woman', 57.0),
 ('man', None),
 ('woman', 54.0),
 ('man', 18.0),
 ('man', None),
 ('child', 5.0),
 ('man', None),
 ('woman', 43.0),
 ('child', 13.0),
 ('woman', 17.0),
 ('man', 29.0),
 ('man', None),
 ('man', 25.0),
 ('man', 25.0),
 ('woman', 18.0),
 ('child', 8.0),
 ('child', 1.0),
 ('man', 46.0),
 ('man', None),
 ('man', 16.0),
 ('woman', None),
 ('man', None),
 ('man', 25.0),
 ('man', 39.0),
 ('woman', 49.0),
 ('woman', 31.0),
 ('man', 30.0),
 ('woman', 30.0),
 ('man', 34.0),
 ('woman', 31.0),
 ('child', 11.0),
 ('child', 0.42),
 ('man', 27.0),
 ('man', 31.0),
 ('man', 39.0),
 ('woman', 18.0),
 ('man', 39.0),
 ('woman', 33.0),
 ('man', 26.0),
 ('man', 39.0),
 ('man', 35.0),
 ('child', 6.0),
 ('man', 30.5),
 ('man', None),
 ('woman', 23.0),
 ('man', 31.0),
 ('man', 43.0),
 ('child', 10.0),
 ('woman', 52.0),
 ('man', 27.0),
 ('man', 38.0),
 ('woman', 27.0),
 ('child', 2.0),
 ('man', None),
 ('man', None),
 ('child', 1.0),
 ('man', None),
 ('woman', 62.0),
 ('child', 15.0),
 ('child', 0.83),
 ('man', None),
 ('man', 23.0),
 ('man', 18.0),
 ('woman', 39.0),
 ('man', 21.0),
 ('man', None),
 ('man', 32.0),
 ('man', None),
 ('man', 20.0),
 ('man', 16.0),
 ('woman', 30.0),
 ('man', 34.5),
 ('man', 17.0),
 ('man', 42.0),
 ('man', None),
 ('man', 35.0),
 ('man', 28.0),
 ('woman', None),
 ('child', 4.0),
 ('man', 74.0),
 ('child', 9.0),
 ('woman', 16.0),
 ('woman', 44.0),
 ('woman', 18.0),
 ('woman', 45.0),
 ('man', 51.0),
 ('woman', 24.0),
 ('man', None),
 ('man', 41.0),
 ('man', 21.0),
 ('woman', 48.0),
 ('woman', None),
 ('man', 24.0),
 ('woman', 42.0),
 ('woman', 27.0),
 ('man', 31.0),
 ('man', None),
 ('child', 4.0),
 ('man', 26.0),
 ('woman', 47.0),
 ('man', 33.0),
 ('man', 47.0),
 ('woman', 28.0),
 ('child', 15.0),
 ('man', 20.0),
 ('man', 19.0),
 ('man', None),
 ('woman', 56.0),
 ('woman', 25.0),
 ('man', 33.0),
 ('woman', 22.0),
 ('man', 28.0),
 ('man', 25.0),
 ('woman', 39.0),
 ('man', 27.0),
 ('woman', 19.0),
 ('woman', None),
 ('man', 26.0),
 ('man', 32.0)]

In [0]:
titanic_rdd.collect()

[Row(survived=0, pclass=3, sex='male', age=22.0, sibsp=1, parch=0, fare=7.25, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=1, sex='female', age=38.0, sibsp=1, parch=0, fare=71.2833, embarked='C', class='First', who='woman', adult_male=False, deck='C', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=26.0, sibsp=0, parch=0, fare=7.925, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=1, sex='female', age=35.0, sibsp=1, parch=0, fare=53.1, embarked='S', class='First', who='woman', adult_male=False, deck='C', embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=35.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=8.4583, embarked='Q', class='Third', who='man', adult_male=True, deck=None, embark_town='Queenstown', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=54.0, sibsp=0, parch=0, fare=51.8625, embarked='S', class='First', who='man', adult_male=True, deck='E', embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=2.0, sibsp=3, parch=1, fare=21.075, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=27.0, sibsp=0, parch=2, fare=11.1333, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=1, pclass=2, sex='female', age=14.0, sibsp=1, parch=0, fare=30.0708, embarked='C', class='Second', who='child', adult_male=False, deck=None, embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=4.0, sibsp=1, parch=1, fare=16.7, embarked='S', class='Third', who='child', adult_male=False, deck='G', embark_town='Southampton', alive='yes', alone=False),
 Row(survived=1, pclass=1, sex='female', age=58.0, sibsp=0, parch=0, fare=26.55, embarked='S', class='First', who='woman', adult_male=False, deck='C', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=20.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=39.0, sibsp=1, parch=5, fare=31.275, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='female', age=14.0, sibsp=0, parch=0, fare=7.8542, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='female', age=55.0, sibsp=0, parch=0, fare=16.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=2.0, sibsp=4, parch=1, fare=29.125, embarked='Q', class='Third', who='child', adult_male=False, deck=None, embark_town='Queenstown', alive='no', alone=False),
 Row(survived=1, pclass=2, sex='male', age=None, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='female', age=31.0, sibsp=1, parch=0, fare=18.0, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=None, sibsp=0, parch=0, fare=7.225, embarked='C', class='Third', who='woman', adult_male=False, deck=None, embark_town='Cherbourg', alive='yes', alone=True),
 Row(survived=0, pclass=2, sex='male', age=35.0, sibsp=0, parch=0, fare=26.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='male', age=34.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck='D', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=3, sex='female', age=15.0, sibsp=0, parch=0, fare=8.0292, embarked='Q', class='Third', who='child', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=1, pclass=1, sex='male', age=28.0, sibsp=0, parch=0, fare=35.5, embarked='S', class='First', who='man', adult_male=True, deck='A', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='female', age=8.0, sibsp=3, parch=1, fare=21.075, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=38.0, sibsp=1, parch=5, fare=31.3875, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=7.225, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=19.0, sibsp=3, parch=2, fare=263.0, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=None, sibsp=0, parch=0, fare=7.8792, embarked='Q', class='Third', who='woman', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=40.0, sibsp=0, parch=0, fare=27.7208, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='female', age=None, sibsp=1, parch=0, fare=146.5208, embarked='C', class='First', who='woman', adult_male=False, deck='B', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=None, sibsp=0, parch=0, fare=7.75, embarked='Q', class='Third', who='woman', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=0, pclass=2, sex='male', age=66.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=28.0, sibsp=1, parch=0, fare=82.1708, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=0, pclass=1, sex='male', age=42.0, sibsp=1, parch=0, fare=52.0, embarked='S', class='First', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=7.2292, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=21.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='female', age=18.0, sibsp=2, parch=0, fare=18.0, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=14.0, sibsp=1, parch=0, fare=11.2417, embarked='C', class='Third', who='child', adult_male=False, deck=None, embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='female', age=40.0, sibsp=1, parch=0, fare=9.475, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=2, sex='female', age=27.0, sibsp=1, parch=0, fare=21.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=7.8958, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='female', age=3.0, sibsp=1, parch=2, fare=41.5792, embarked='C', class='Second', who='child', adult_male=False, deck=None, embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=19.0, sibsp=0, parch=0, fare=7.8792, embarked='Q', class='Third', who='woman', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=1, parch=0, fare=15.5, embarked='Q', class='Third', who='man', adult_male=True, deck=None, embark_town='Queenstown', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='female', age=None, sibsp=0, parch=0, fare=7.75, embarked='Q', class='Third', who='woman', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=2, parch=0, fare=21.6792, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='female', age=18.0, sibsp=1, parch=0, fare=17.8, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=7.0, sibsp=4, parch=1, fare=39.6875, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=21.0, sibsp=0, parch=0, fare=7.8, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='female', age=49.0, sibsp=1, parch=0, fare=76.7292, embarked='C', class='First', who='woman', adult_male=False, deck='D', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=2, sex='female', age=29.0, sibsp=1, parch=0, fare=26.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=1, sex='male', age=65.0, sibsp=0, parch=1, fare=61.9792, embarked='C', class='First', who='man', adult_male=True, deck='B', embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=1, pclass=1, sex='male', age=None, sibsp=0, parch=0, fare=35.5, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=2, sex='female', age=21.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=28.5, sibsp=0, parch=0, fare=7.2292, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='female', age=5.0, sibsp=1, parch=2, fare=27.75, embarked='S', class='Second', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=11.0, sibsp=5, parch=2, fare=46.9, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=22.0, sibsp=0, parch=0, fare=7.2292, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='female', age=38.0, sibsp=0, parch=0, fare=80.0, embarked=None, class='First', who='woman', adult_male=False, deck='B', embark_town=None, alive='yes', alone=True),
 Row(survived=0, pclass=1, sex='male', age=45.0, sibsp=1, parch=0, fare=83.475, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=4.0, sibsp=3, parch=2, fare=27.9, embarked='S', class='Third', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=1, sex='male', age=None, sibsp=0, parch=0, fare=27.7208, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=3, sex='male', age=None, sibsp=1, parch=1, fare=15.2458, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=2, sex='female', age=29.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='woman', adult_male=False, deck='F', embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=19.0, sibsp=0, parch=0, fare=8.1583, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=3, sex='female', age=17.0, sibsp=4, parch=2, fare=7.925, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=2, parch=0, fare=8.6625, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=2, sex='male', age=32.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='female', age=16.0, sibsp=5, parch=2, fare=46.9, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=2, sex='male', age=21.0, sibsp=0, parch=0, fare=73.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=1, parch=0, fare=14.4542, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False),
 Row(survived=1, pclass=3, sex='male', age=32.0, sibsp=0, parch=0, fare=56.4958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=25.0, sibsp=0, parch=0, fare=7.65, embarked='S', class='Third', who='man', adult_male=True, deck='F', embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='male', age=0.83, sibsp=0, parch=2, fare=29.0, embarked='S', class='Second', who='child', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=30.0, sibsp=0, parch=0, fare=12.475, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=0, pclass=3, sex='male', age=22.0, sibsp=0, parch=0, fare=9.0, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=3, sex='male', age=29.0, sibsp=0, parch=0, fare=9.5, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=3, sex='female', age=None, sibsp=0, parch=0, fare=7.7875, embarked='Q', class='Third', who='woman', adult_male=False, deck=None, embark_town='Queenstown', alive='yes', alone=True),
 Row(survived=0, pclass=1, sex='male', age=28.0, sibsp=0, parch=0, fare=47.1, embarked='S', class='First', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=2, sex='female', age=17.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=3, sex='female', age=33.0, sibsp=3, parch=0, fare=15.85, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=16.0, sibsp=1, parch=3, fare=34.375, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='female', age=23.0, sibsp=3, parch=2, fare=263.0, embarked='S', class='First', who='woman', adult_male=False, deck='C', embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=24.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=29.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=20.0, sibsp=0, parch=0, fare=7.8542, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=46.0, sibsp=1, parch=0, fare=61.175, embarked='S', class='First', who='man', adult_male=True, deck='E', embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=1, parch=2, fare=20.575, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=0, pclass=3, sex='male', age=59.0, sibsp=0, parch=0, fare=7.25, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=3, sex='male', age=None, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True),
 Row(survived=0, pclass=1, sex='male', age=71.0, sibsp=0, parch=0, fare=34.6542, embarked='C', class='First', who='man', adult_male=True, deck='A', embark_town='Cherbourg', alive='no', alone=True),
 Row(survived=1, pclass=1, sex='male', age=23.0, sibsp=0, parch=1, fare=63.3583, embarked='C', class='First', who='man', adult_male=True, deck='D', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=2, sex='female', age=34.0, sibsp=0, parch=1, fare=23.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False),

In [0]:
#Actions
totalpassengers =titanic_rdd.count()
totalpassengers

891

In [0]:
first_5_rows = titanic_rdd.take(5)
first_5_rows

[Row(survived=0, pclass=3, sex='male', age=22.0, sibsp=1, parch=0, fare=7.25, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False),
 Row(survived=1, pclass=1, sex='female', age=38.0, sibsp=1, parch=0, fare=71.2833, embarked='C', class='First', who='woman', adult_male=False, deck='C', embark_town='Cherbourg', alive='yes', alone=False),
 Row(survived=1, pclass=3, sex='female', age=26.0, sibsp=0, parch=0, fare=7.925, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True),
 Row(survived=1, pclass=1, sex='female', age=35.0, sibsp=1, parch=0, fare=53.1, embarked='S', class='First', who='woman', adult_male=False, deck='C', embark_town='Southampton', alive='yes', alone=False),
 Row(survived=0, pclass=3, sex='male', age=35.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)]

In [0]:
filter_rdd.count()

413

In [0]:
filter_rdd.saveAsTextFile(path='dbfs:/fiter_dd.txt')

In [0]:
%fs ls

path,name,size,modificationTime
dbfs:/FileStore/,FileStore/,0,1705640993000
dbfs:/Volume/,Volume/,0,0
dbfs:/Volumes/,Volumes/,0,0
dbfs:/databricks-datasets/,databricks-datasets/,0,0
dbfs:/databricks-results/,databricks-results/,0,0
dbfs:/fiter_dd.txt/,fiter_dd.txt/,0,1705655356000
dbfs:/output.txt/,output.txt/,0,1705598139000
dbfs:/titanic.csv,titanic.csv,57018,1705652738000
dbfs:/user/,user/,0,1705640727000
dbfs:/volume/,volume/,0,0
dbfs:/volumes/,volumes/,0,0

In [0]:
rdd_text =spark.sparkContext.textFile("fiter_dd.txt")

In [0]:
rdd_text.collect()

["Row(survived=1, pclass=1, sex='female', age=38.0, sibsp=1, parch=0, fare=71.2833, embarked='C', class='First', who='woman', adult_male=False, deck='C', embark_town='Cherbourg', alive='yes', alone=False)",
 "Row(survived=1, pclass=3, sex='female', age=26.0, sibsp=0, parch=0, fare=7.925, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=1, pclass=1, sex='female', age=35.0, sibsp=1, parch=0, fare=53.1, embarked='S', class='First', who='woman', adult_male=False, deck='C', embark_town='Southampton', alive='yes', alone=False)",
 "Row(survived=0, pclass=3, sex='male', age=35.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=1, sex='male', age=54.0, sibsp=0, parch=0, fare=51.8625, embarked='S', class='First', who='man', adult_male=True, deck='E', embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=1, pclass=3, sex='female', age=27.0, sibsp=0, parch=2, fare=11.1333, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False)",
 "Row(survived=1, pclass=1, sex='female', age=58.0, sibsp=0, parch=0, fare=26.55, embarked='S', class='First', who='woman', adult_male=False, deck='C', embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=39.0, sibsp=1, parch=5, fare=31.275, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=1, pclass=2, sex='female', age=55.0, sibsp=0, parch=0, fare=16.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=0, pclass=3, sex='female', age=31.0, sibsp=1, parch=0, fare=18.0, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=2, sex='male', age=35.0, sibsp=0, parch=0, fare=26.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=1, pclass=2, sex='male', age=34.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck='D', embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=1, pclass=1, sex='male', age=28.0, sibsp=0, parch=0, fare=35.5, embarked='S', class='First', who='man', adult_male=True, deck='A', embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=1, pclass=3, sex='female', age=38.0, sibsp=1, parch=5, fare=31.3875, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False)",
 "Row(survived=0, pclass=1, sex='male', age=40.0, sibsp=0, parch=0, fare=27.7208, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True)",
 "Row(survived=0, pclass=2, sex='male', age=66.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=1, sex='male', age=28.0, sibsp=1, parch=0, fare=82.1708, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False)",
 "Row(survived=0, pclass=1, sex='male', age=42.0, sibsp=1, parch=0, fare=52.0, embarked='S', class='First', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=3, sex='female', age=40.0, sibsp=1, parch=0, fare=9.475, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=2, sex='female', age=27.0, sibsp=1, parch=0, fare=21.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=1, pclass=1, sex='female', age=49.0, sibsp=1, parch=0, fare=76.7292, embarked='C', class='First', who='woman', adult_male=False, deck='D', embark_town='Cherbourg', alive='yes', alone=False)",
 "Row(survived=1, pclass=2, sex='female', age=29.0, sibsp=1, parch=0, fare=26.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False)",
 "Row(survived=0, pclass=1, sex='male', age=65.0, sibsp=0, parch=1, fare=61.9792, embarked='C', class='First', who='man', adult_male=True, deck='B', embark_town='Cherbourg', alive='no', alone=False)",
 "Row(survived=0, pclass=3, sex='male', age=28.5, sibsp=0, parch=0, fare=7.2292, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True)",
 "Row(survived=1, pclass=1, sex='female', age=38.0, sibsp=0, parch=0, fare=80.0, embarked=None, class='First', who='woman', adult_male=False, deck='B', embark_town=None, alive='yes', alone=True)",
 "Row(survived=0, pclass=1, sex='male', age=45.0, sibsp=1, parch=0, fare=83.475, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=1, pclass=2, sex='female', age=29.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='woman', adult_male=False, deck='F', embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=2, parch=0, fare=8.6625, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=2, sex='male', age=32.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=1, parch=0, fare=14.4542, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False)",
 "Row(survived=1, pclass=3, sex='male', age=32.0, sibsp=0, parch=0, fare=56.4958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=1, pclass=3, sex='female', age=30.0, sibsp=0, parch=0, fare=12.475, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=1, pclass=3, sex='male', age=29.0, sibsp=0, parch=0, fare=9.5, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=0, pclass=1, sex='male', age=28.0, sibsp=0, parch=0, fare=47.1, embarked='S', class='First', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=1, pclass=3, sex='female', age=33.0, sibsp=3, parch=0, fare=15.85, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False)",
 "Row(survived=0, pclass=3, sex='male', age=29.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=1, sex='male', age=46.0, sibsp=1, parch=0, fare=61.175, embarked='S', class='First', who='man', adult_male=True, deck='E', embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=1, parch=2, fare=20.575, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=3, sex='male', age=59.0, sibsp=0, parch=0, fare=7.25, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=1, sex='male', age=71.0, sibsp=0, parch=0, fare=34.6542, embarked='C', class='First', who='man', adult_male=True, deck='A', embark_town='Cherbourg', alive='no', alone=True)",
 "Row(survived=1, pclass=2, sex='female', age=34.0, sibsp=0, parch=1, fare=23.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False)",
 "Row(survived=0, pclass=2, sex='male', age=34.0, sibsp=1, parch=0, fare=26.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=3, sex='female', age=28.0, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=33.0, sibsp=0, parch=0, fare=8.6542, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=37.0, sibsp=2, parch=0, fare=7.925, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=3, sex='male', age=28.0, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=38.0, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=1, sex='male', age=47.0, sibsp=0, parch=0, fare=52.0, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=70.5, sibsp=0, parch=0, fare=7.75, embarked='Q', class='Third', who='man', adult_male=True, deck=None, embark_town='Queenstown', alive='no', alone=True)",
 "Row(survived=0, pclass=2, sex='male', age=29.0, sibsp=1, parch=0, fare=21.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=2, sex='male', age=32.5, sibsp=1, parch=0, fare=30.0708, embarked='C', class='Second', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False)",
 "Row(survived=1, pclass=2, sex='female', age=32.5, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='woman', adult_male=False, deck='E', embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=0, pclass=1, sex='male', age=54.0, sibsp=0, parch=1, fare=77.2875, embarked='S', class='First', who='man', adult_male=True, deck='D', embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=3, sex='male', age=45.0, sibsp=0, parch=0, fare=6.975, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=33.0, sibsp=0, parch=0, fare=7.8958, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='female', age=47.0, sibsp=1, parch=0, fare=14.5, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=1, pclass=2, sex='female', age=29.0, sibsp=1, parch=0, fare=26.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=False)",
 "Row(survived=0, pclass=1, sex='male', age=37.0, sibsp=1, parch=0, fare=53.1, embarked='S', class='First', who='man', adult_male=True, deck='C', embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=1, pclass=3, sex='male', age=27.0, sibsp=0, parch=0, fare=7.7958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=0, pclass=2, sex='male', age=36.5, sibsp=0, parch=2, fare=26.0, embarked='S', class='Second', who='man', adult_male=True, deck='F', embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=2, sex='male', age=42.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=2, sex='male', age=51.0, sibsp=0, parch=0, fare=12.525, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=55.5, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=40.5, sibsp=0, parch=2, fare=14.5, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=1, sex='male', age=51.0, sibsp=0, parch=1, fare=61.3792, embarked='C', class='First', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=False)",
 "Row(survived=0, pclass=3, sex='male', age=30.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=44.0, sibsp=0, parch=1, fare=16.1, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=1, pclass=2, sex='female', age=40.0, sibsp=0, parch=0, fare=15.75, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=26.0, sibsp=0, parch=0, fare=7.775, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='female', age=45.0, sibsp=1, parch=4, fare=27.9, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=3, sex='male', age=28.0, sibsp=0, parch=0, fare=56.4958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=1, sex='male', age=61.0, sibsp=0, parch=0, fare=33.5, embarked='S', class='First', who='man', adult_male=True, deck='B', embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=1, sex='male', age=56.0, sibsp=0, parch=0, fare=30.6958, embarked='C', class='First', who='man', adult_male=True, deck='A', embark_town='Cherbourg', alive='no', alone=True)",
 "Row(survived=0, pclass=1, sex='female', age=50.0, sibsp=0, parch=0, fare=28.7125, embarked='C', class='First', who='woman', adult_male=False, deck='C', embark_town='Cherbourg', alive='no', alone=True)",
 "Row(survived=0, pclass=2, sex='male', age=30.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=36.0, sibsp=0, parch=0, fare=0.0, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=1, pclass=1, sex='male', age=45.0, sibsp=0, parch=0, fare=26.55, embarked='S', class='First', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=40.0, sibsp=1, parch=1, fare=15.5, embarked='Q', class='Third', who='man', adult_male=True, deck=None, embark_town='Queenstown', alive='no', alone=False)",
 "Row(survived=0, pclass=3, sex='male', age=36.0, sibsp=0, parch=0, fare=7.8958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=1, pclass=2, sex='female', age=32.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=1, pclass=1, sex='female', age=44.0, sibsp=0, parch=0, fare=27.7208, embarked='C', class='First', who='woman', adult_male=False, deck='B', embark_town='Cherbourg', alive='yes', alone=True)",
 "Row(survived=1, pclass=1, sex='female', age=58.0, sibsp=0, parch=0, fare=146.5208, embarked='C', class='First', who='woman', adult_male=False, deck='B', embark_town='Cherbourg', alive='yes', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=42.0, sibsp=0, parch=1, fare=8.4042, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=0, pclass=3, sex='male', age=28.0, sibsp=0, parch=0, fare=9.5, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=34.0, sibsp=0, parch=0, fare=6.4958, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=45.5, sibsp=0, parch=0, fare=7.225, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=32.0, sibsp=1, parch=0, fare=15.85, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=1, pclass=3, sex='male', age=26.0, sibsp=0, parch=0, fare=18.7875, embarked='C', class='Third', who='man', adult_male=True, deck=None, embark_town='Cherbourg', alive='yes', alone=True)",
 "Row(survived=1, pclass=1, sex='male', age=40.0, sibsp=0, parch=0, fare=31.0, embarked='C', class='First', who='man', adult_male=True, deck='A', embark_town='Cherbourg', alive='yes', alone=True)",
 "Row(survived=1, pclass=2, sex='female', age=35.0, sibsp=0, parch=0, fare=21.0, embarked='S', class='Second', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=0, pclass=2, sex='male', age=30.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=1, pclass=1, sex='female', age=31.0, sibsp=1, parch=0, fare=113.275, embarked='C', class='First', who='woman', adult_male=False, deck='D', embark_town='Cherbourg', alive='yes', alone=False)",
 "Row(survived=1, pclass=3, sex='female', age=27.0, sibsp=0, parch=0, fare=7.925, embarked='S', class='Third', who='woman', adult_male=False, deck=None, embark_town='Southampton', alive='yes', alone=True)",
 "Row(survived=0, pclass=2, sex='male', age=42.0, sibsp=1, parch=0, fare=27.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=False)",
 "Row(survived=1, pclass=1, sex='female', age=32.0, sibsp=0, parch=0, fare=76.2917, embarked='C', class='First', who='woman', adult_male=False, deck='D', embark_town='Cherbourg', alive='yes', alone=True)",
 "Row(survived=0, pclass=2, sex='male', age=30.0, sibsp=0, parch=0, fare=10.5, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=2, sex='male', age=27.0, sibsp=0, parch=0, fare=13.0, embarked='S', class='Second', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",
 "Row(survived=0, pclass=3, sex='male', age=51.0, sibsp=0, parch=0, fare=8.05, embarked='S', class='Third', who='man', adult_male=True, deck=None, embark_town='Southampton', alive='no', alone=True)",